
body { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 100%; *font-size: 80%; 
background: #444444 url(../img/bck_main.png) top repeat-x;}
.ui-layout-container {
	
}

/* PANES & CONTENT-DIVs  */
.ui-layout-pane 											{ /* all 'panes' */	background:	#FFF;/* border: 1px solid #BBB;*/
															/* DO NOT add scrolling (or padding) to 'panes' that have a content-div, otherwise you may get double-scrollbars - on the pane AND on the content-div */
															padding: 15px; overflow: auto; }
															/* (scrolling) content-div inside pane allows for fixed header(s) and/or footer(s) */
.ui-layout-content 											{ padding: 15px; position: relative; /* contain floated or positioned elements */ overflow:	auto; /* add scrolling to content-div */ }

/* RESIZER-BARS */
.ui-layout-resizer											{ /* all 'resizer-bars' */ /*background: #DDD;*/ border:none; border-width: 0; }
.ui-layout-resizer-drag										{ /* REAL resizer while resize in progress */ }
.ui-layout-resizer-hover 									{ /* affects both open and closed states */ }
															/* NOTE: It looks best when 'hover' and 'dragging' are set to the same color, otherwise color shifts while dragging when bar can't keep up with mouse */
.ui-layout-resizer-open-hover,								/* hover-color to 'resize' */
.ui-layout-resizer-dragging									{ /* resizer beging 'dragging' */ background: #C4E1A4; }
.ui-layout-resizer-dragging 								{ /* CLONED resizer being dragged */ border-left:none; border-right:none; }
															/* NOTE: Add a 'dragging-limit' color to provide visual feedback when resizer hits min/max size limits */
.ui-layout-resizer-dragging-limit 							{	/* CLONED resizer at min or max size-limit */ background: #E1A4A4; /* red */ }
.ui-layout-resizer-closed-hover								{ /* hover-color to 'slide open' */ background: #EBD5AA; }
.ui-layout-resizer-sliding 									{	/* resizer when pane is 'slid open' */ opacity: .10; /* show only a slight shadow */ filter:  alpha(opacity=10); }
.ui-layout-resizer-sliding-hover 							{	/* sliding resizer - hover */ opacity: 1.00; /* on-hover, show the resizer-bar normally */ filter:  alpha(opacity=100); }
															/* sliding resizer - add 'outside-border' to resizer on-hover  
		 													* this sample illustrates how to target specific panes and states */
.ui-layout-resizer-north-sliding-hover						{ border-bottom-width:	1px; }
.ui-layout-resizer-south-sliding-hover						{ border-top-width:		1px; }
.ui-layout-resizer-west-sliding-hover						{ border-right-width:	1px; }
.ui-layout-resizer-east-sliding-hover						{ border-left-width:	1px; }

/* TOGGLER-BUTTONS */
.ui-layout-toggler 											{ /*border: 1px solid #BBB;  background-color: #BBB;*/ }
.ui-layout-resizer-hover,
.ui-layout-toggler 											{ opacity: .60; filter:  alpha(opacity=60); }
.ui-layout-toggler-hover,
.ui-layout-resizer-hover,
.ui-layout-toggler-hover 									{ /* need specificity when IS resizable */ background-color: #FC6; opacity: 1.00; filter:  alpha(opacity=100); }
.ui-layout-toggler-north,
.ui-layout-toggler-south 									{ border-width: 0 1px; /* left/right borders */ }
.ui-layout-toggler-west,
.ui-layout-toggler-east							 			{ border-width: 1px 0; /* top/bottom borders */ }

/* hide the toggler-button when the pane is 'slid open' */
.ui-layout-resizer-sliding  .ui-layout-toggler { display: none; }

/* style the text we put INSIDE the togglers */
.ui-tabs .ui-tabs-nav li a 									{ padding: .5em 0.8em !important; }
.ui-layout-toggler .content 								{ color: #666; font-size: 12px; font-weight: bold; width: 100%; padding-bottom: 0.35ex; /* to 'vertically center' text inside text-span */ 	}
.botonTeclado 												{ background-color: #F8F8F8; 		border-color: #BFBFBF #908D8D #908D8D #BFBFBF; border-style: solid; border-width: 1px; color: #4E6F90; font-size: 28px; font-weight: normal !important; height: 45px; 
															  padding: 0 0; width: 55px; }
.botonProducto,
.botonCategoria												{ 
							color:#fff;  
							cursor: pointer; 
							float:left; 
							width: 83px; 
							height:130px; 
							overflow:hidden; 
							padding:1px;
							 /*margin-right:1px; margin-bottom:1px; */
						
							font-size: 11px; 	
 							line-height:11px; 
 							/*
 							-webkit-border-radius:3px; 
 							-moz-border-radius:3px; 
 							border-radius:3px; 
 							*/
 							/*
 							-webkit-box-shadow:0 2px 2px #ccc;   
 							-moz-box-shadow:0 2px 2px #ccc; 
 							box-shadow:0 2px 2px #ccc;
 							*/
							background-color: #b9991f  }
.botonStats	  { 

			color:#fff; 
			text-shadow:1px 1px 2px #000000;
			font-weight:bold;
			cursor: pointer; 
			text-transform: capitalize; 
			float:left; width: 10%;
			 overflow:hidden; 
			 padding: 0px;
			 padding-top: 6px; 
			 margin-left:2px; font-size: 11px; 	
			 height:39px;
			background: #555 url(../img/bck_btn3d_big.png) repeat-x top;
			border-radius: 6px;
				box-shadow: 2px 2px 3px #333333;
	border-top:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-bottom:1px solid #888888;
	border-right:1px solid #888888;
/*line-height:25px;*/
 text-align:center;


}
.botonStats:hover										    { 

background: #555 url(../img/bck_btn3d_big.png) repeat-x bottom;
}
.botonStats	span {
	display:block;
}
															  
.botonCategoria												{background:#555;}
.statButtons {
	padding:6px;
}

.botonProducto:hover,
.botonCategoria:hover										{ 
/*-webkit-box-shadow:0 2px 2px #b9991f; -moz-box-shadow:0 2px 2px #b9991f; box-shadow:0 2px 2px #b9991f; */
/* background:transparent url('../img/boton_bg.gif') repeat-x bottom left */ 
background-color: #aaa
}

 
.botonProducto div, 
.botonCategoria div						 					{ width: 100%; height:83px; margin:0 auto 3px; display:block; clear:both; }
.botonStats div						 					    { 
width: 100%; height:83px; margin:0 auto 3px; display:block; clear:both; }

.botonProducto div a,
.botonProducto div											{ display:block; height:83px; background:#fff; }
.botonProducto div a 										{ margin:0;}
.botonProducto div img,	
.botonCategoria div img										{ width:100%; max-height:83px; display:block;}
.botonStats div img										{ width:100%; max-height:83px; display:block;}


/*MASK UP STYLES*/

.darkblue 													{
/*background: #555555;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2NTg4ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZjliYzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
															 background: -moz-linear-gradient(top,  #555 0%, #555 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26588e), color-stop(100%,#5f9bc7));
															 background: -webkit-linear-gradient(top,  #555 0%,#555 100%); background: -o-linear-gradient(top,  #26588e 0%,#5f9bc7 100%);
															 background: -ms-linear-gradient(top,  #555 0%,#555 100%); background: linear-gradient(top,  #26588e 0%,#5f9bc7 100%);
															 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26588e', endColorstr='#5f9bc7',GradientType=0 ); 
															 */
															 }
div#tabs-center{position:relative !important}															 
div#tabs-center div.header 									{ width:100%; height:55px; color:#fff !important;}
div#tabs-center div.header img.dolipos_logo 				{ float:left; margin:0; border-right:1px solid #2c68a3}
div#tabs-center div.header div.user_top 					{ float:left; height:53px; margin:2px 0 0; padding:0 0 0 15px;}
div#tabs-center div.header span.user, 						
div#tabs-center div.header #infoCartTicket,
div#tabs-center div.header #infoCartTicket span			{ float:left; display:block; clear:both; width:auto; font-size:12px; margin:1px 0 0; line-height:16px;  }
div#tabs-center div.header span.user						{ background:url('../img/top_mini_user.png') no-repeat left 50%; padding-left:18px;}
div#tabs-center div.header span.terminal					{ background:url('../img/top_mini_terminal.png') no-repeat left 50%; padding-left:18px;}
div#tabs-center div.header #infoCartTicket					{ background:url('../img/top_mini_ticket.png') no-repeat left 50%; padding-left:18px;}
div#tabs-center div.header img.photo						{ float:left; 
																display:block; 
																width:auto; 
																margin:1px 0 0;
																border: 0px #ffffff solid;
																}
div#tabs-center div.header div.fecha						{
position:absolute;margin-left:42%; top:0; height:55px; margin:2px; padding:0 20px 2px 20px;text-align:center;background:#444444;width:120px;
-webkit-border-radius:0px 0px 20px 20px; 
-moz-border-radius:0px 0px 20px 20px; 
border-radius:0px 0px 20px 20px; 
box-shadow:2px 2px 3px #333333;
}
div#tabs-center div.header div #reloj						{font-size:30px; text-align:center}
div#tabs-center div.header a.logout, 
div#tabs-center div.header a.top_help, 
div#tabs-center div.header a.top_tactil,
div#tabs-center div.header a.top_infoproduct,
div#tabs-center div.header a.top_closecash,
div#tabs-center div.header a.top_employee,
div#tabs-center div.header a.top_barcode,
div#tabs-center div.header a.top_opendrawer					{ display:block; height:55px; 
																width:55px; 
																float:right;
																margin:0px; 
																margin-left:4px; }
																
																/*
																border-left:1px solid #5F9BC7; 
																border-right:1px solid #2C68A3}
																*/

div#tabs-center div.header #btnLogout						{ background:url('../img/top_buttons.png') no-repeat top left}
div#tabs-center div.header #btnLogout:hover,
div#tabs-center div.header #btnLogout:focus,
div#tabs-center div.header #btnLogout:active				{ background:url('../img/top_buttons.png') no-repeat top right}
div#tabs-center div.header a.top_help						{ background:url('../img/top_buttons.png') no-repeat 0px -55px}
div#tabs-center div.header a.top_help:hover,
div#tabs-center div.header a.top_help:focus,	
div#tabs-center div.header a.top_help:active				{ background:url('../img/top_buttons.png') no-repeat -55px -54px}
div#tabs-center div.header .top_tactil.on					{ background:url('../img/top_buttons.png') no-repeat 0px -110px}
div#tabs-center div.header .top_tactil.on:hover,
div#tabs-center div.header .top_tactil.on:active,
div#tabs-center div.header .top_tactil.on:focus				{ background:url('../img/top_buttons.png') no-repeat -55px -110px}
div#tabs-center div.header .top_tactil.off					{ background:url('../img/top_buttons.png') no-repeat 0px -165px}
div#tabs-center div.header .top_tactil.off:hover,
div#tabs-center div.header .top_tactil.off:active,
div#tabs-center div.header .top_tactil.off:focus			{ background:url('../img/top_buttons.png') no-repeat -55px -165px}
div#tabs-center div.header #id_btn_infoproduct				{ background:url('../img/top_buttons.png') no-repeat 0px -220px}
div#tabs-center div.header #id_btn_infoproduct:hover,
div#tabs-center div.header #id_btn_infoproduct:focus,
div#tabs-center div.header #id_btn_infoproduct:active		{ background:url('../img/top_buttons.png') no-repeat -55px -220px}
div#tabs-center div.header #id_btn_infoproduct.on			{ background:url('../img/top_buttons.png') no-repeat 0px -385px}
div#tabs-center div.header #id_btn_infoproduct.on:hover,
div#tabs-center div.header #id_btn_infoproduct.on:focus,
div#tabs-center div.header #id_btn_infoproduct.on:active	{ background:url('../img/top_buttons.png') no-repeat -55px -385px}
div#tabs-center div.header #id_btn_closecash				{ background:url('../img/top_buttons.png') no-repeat 0px -275px}
div#tabs-center div.header #id_btn_closecash:hover,
div#tabs-center div.header #id_btn_closecash:active,
div#tabs-center div.header #id_btn_closecash:focus			{ background:url('../img/top_buttons.png') no-repeat -55px -275px}

div#tabs-center div.header #id_btn_closeproduct				{ background:url('../img/closeproducts.png') no-repeat center; }
div#tabs-center div.header #id_btn_fullscreen				{ background:url('../img/fullscreen.png') no-repeat center;  }
div#tabs-center div.header #id_btn_chat						{ background:url('../img/chat.png') no-repeat center;  }
div#tabs-center div.header #id_btn_opendrawer				{ background:url('../img/drawer.png') no-repeat center;  }
 


div#tabs-center div.header #id_btn_employee					{ background:url('../img/top_buttons.png') no-repeat 0px -330px}
div#tabs-center div.header #id_btn_employee:hover,
div#tabs-center div.header #id_btn_employee:active,
div#tabs-center div.header #id_btn_employee:focus			{ background:url('../img/top_buttons.png') no-repeat -55px -330px}

div#tabs-center div.header .top_barcode.off				{ background:url('../img/top_buttons.png') no-repeat 0px -440px}
div#tabs-center div.header .top_barcode.off:hover,
div#tabs-center div.header .top_barcode.off:active,
div#tabs-center div.header .top_barcode.off:focus		{ background:url('../img/top_buttons.png') no-repeat 0px -440px}
div#tabs-center div.header .top_barcode.on				{ background:url('../img/top_buttons.png') no-repeat -55px -440px}
div#tabs-center div.header .top_barcode.on:hover,
div#tabs-center div.header .top_barcode.on:active,
div#tabs-center div.header .top_barcode.on:focus			{ background:url('../img/top_buttons.png') no-repeat -55px -440px}

div#tabs-center div.header #id_btn_ing_cash					{ background:url('../img/initialamount.png') no-repeat center}


div#tabs-center iframe 										{ width:100% !important; margin:0 auto; display:block; height:100% !important; overflow-x: hidden; overflow-y: scroll;}
div#tabs-center table 										{}/* width:100% !important;}*/
div#tabs-center table > table								{ width:100% !important;}

div#tabs-center ul.ticket 									{ top:67px !important; z-index:13 !important}
div#tabs-center ul.ticket li 								{ border-bottom:none;border:0px;
															 margin:0 6px 0px 0; -webkit-border-radius:8px 8px 0 0; -moz-border-radius:8px 8px 0 0; border-radius:8px 8px 0 0;
															 background:#b9b9b9 url(../img/bck_tab_off.png) repeat-x top;
															 }

/*div#tabs-center ul.ticket li.ui-state-hover a,*/
div#tabs-center ul.ticket li.ui-state-hover  		{ 
																-webkit-border-radius:8px 8px 0 0; -moz-border-radius:8px 8px 0 0; border-radius:8px 8px 0 0;
																background:#ffffff url(../img/bck_tab_off.png) repeat-x bottom ; color:#555 !important}
div#tabs-center ul.ticket li.ui-tabs-selected				{ /*border:1px solid #F00;*/border:0px; background:#FFFFFF; border-bottom:none; 
																position:relative; margin:0 5px 0 0; padding-bottom:0px}
div#tabs-center ul.ticket li a span.tab_icon				{ display:block; width:21px; height:21px; float:left; margin:0 10px 0 0;}
div#tabs-center ul.ticket li.tab_tick a span.tab_icon		{ background:url('../img/tabs_buttons.png') no-repeat 0px -2px}
div#tabs-center ul.ticket li.tab_data a span.tab_icon		{ background:url('../img/tabs_buttons.png') no-repeat -24px -2px}
div#tabs-center ul.ticket li.tab_cust a span.tab_icon		{ background:url('../img/tabs_buttons.png') no-repeat -48px -2px}
div#tabs-center ul.ticket li.tab_hist a span.tab_icon		{ background:url('../img/tabs_buttons.png') no-repeat -72px -2px}
div#tabs-center ul.ticket li.tab_stoc a span.tab_icon		{ background:url('../img/tabs_buttons.png') no-repeat -96px -2px}
div#tabs-center ul.ticket li.tab_help a span.tab_icon		{ background:url('../img/tabs_buttons.png') no-repeat -120px -2px}
div#tabs-center ul.ticket li.tab_dashboard a span.tab_icon		{ 
background:url('../img/tabs_buttons.png') no-repeat -120px -2px}
div#tabs-center div.ticket_content 							{ top:115px !important; height:auto !important; background:#fff; /*border:1px solid #F00;*/ border-top:none;}
div#tabs-center div.no-top 									{ top:0px !important}
div#tabs-center div.no-border 								{ border:none !important;}
div#tabs-center div.no-padding								{ padding:0 !important}

div#categories, div#products, div#tweets, div#places		{
/*background:#fff !important; border:1px solid #eee; border-top:none;*/}

div.ui-layout-west 											{ width:438px}

.ui-dialog 													{ position: absolute; padding: 0em; width: 300px; overflow: hidden; border-color:#fff #fff #fff #fff !important; border-width:1px !important; border-style:solid !important;
															  background: url(../img/bck_main.png);
															  /* -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;*/
															  -webkit-box-shadow:8px 8px 0 rgba(0,0,0,0.2); -moz-box-shadow:8px 8px 0 rgba(0,0,0,0.2); box-shadow:8px 8px 0 rgba(0,0,0,0.2); }
.ui-dialog .ui-dialog-titlebar 								{  text-shadow:1px 1px 2px #000000; padding: .4em 0.8em; position: relative; border-bottom:1px solid #fff; color:#fff;  -webkit-box-shadow:inset 1px 1px 0 #fff; -moz-box-shadow:inset 1px 1px 0 #fff; 
															 }
.ui-dialog .ui-dialog-title 								{ float: left; margin: .1em 16px .1em 0; text-transform:uppercase; font-size:24px !important; letter-spacing:-1px; line-height:18px !important} 
.ui-dialog .ui-dialog-titlebar-close 						{ position: absolute; right: 0em; top: 50%; width: 60px !important; margin: -18px 0 0 0 !important; padding: 1px; height: 34px !important; border-left:1px solid #eee;
															-webkit-box-shadow:inset 1px 1px 0 #fff; -moz-box-shadow:inset 1px 1px 0 #fff; box-shadow:inset 1px 1px 0 #fff; }
.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close:focus,
.ui-dialog .ui-dialog-titlebar-close:active 				{ -webkit-box-shadow:inset 1px 1px 0 #555555; -moz-box-shadow:inset 1px 1px 0 #555555; box-shadow:inset 1px 1px 0 #555555;}
.ui-dialog .ui-dialog-titlebar-close span 					{ display: block; margin: 9px 22px !important; }
.ui-dialog .ui-dialog-buttonpane 							{ text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .2em 0 0 0 !important; padding: 1em !important; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset 		{ float: right; }
.ui-dialog .ui-dialog-buttonpane button 					{ margin: 0 0 0 0.4em !important; cursor: pointer; }

.bloqueOpciones 											{}
.bloqueOpciones label										{ display:block; line-height:30px; text-align:center; color:#FFF; font-weight:bold; font-size:14px; text-shadow:1px 1px 1px #222;}
.bloqueOpciones p	 										{ margin:5px 0; line-height:36px; text-align:left; color:#FFF; font-weight:bold; font-size:16px; text-shadow:1px 1px 1px #222;}
/*.bloqueOpciones input 										{ line-height:34px; height:32px; float:left; font-size:20px; font-weight:bold; color:#666666; text-shadow:1px 1px 1px #ddd; width:205px; border:1px solid #eee; margin:5px 0;
															-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; padding:0 0 0 5px;
															-webkit-box-shadow:inset 2px 2px 3px #ddd; -moz-box-shadow:inset 2px 2px 3px #ddd; box-shadow:inset 2px 2px 3px #ddd;}*/
.bloqueOpciones input:hover,
.bloqueOpciones input:active,
.bloqueOpciones input:focus 								{ border:2px solid #555}
.bloqueOpciones input.boton 								{ display:block; clear:both; height:50px; width:100%; text-align:center; padding:0; margin:10px 0 0; color:#999; font-size:20px !important;
															text-shadow:0 1px 0 #fff; cursor:pointer; text-transform:uppercase; letter-spacing:-1px; border:none;
															background: #f6f6f6 url('images/ui-bg_highlight-soft_100_f6f6f6_1x100.png') 50% 50% repeat-x;
															-webkit-box-shadow:inset 1px 1px 0 #fff; -moz-box-shadow:inset 1px 1px 0 #fff; box-shadow:inset 1px 1px 0 #fff;
															-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2); -moz-box-shadow: 0 0 15px rgba(0,0,0,0.2); box-shadow:0 0 15px rgba(0,0,0,0.2);}
.bloqueOpciones input.boton:hover,
.bloqueOpciones input.boton:focus,
.bloqueOpciones input.boton:active 							{ background: #f6f6f6 url('images/ui-bg_highlight-soft_100_f6f6f6_1x100.png') 50% top repeat-x; color:#666; border:none; -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.6);
															-moz-box-shadow: 0 0 8px rgba(0,0,0,0.6); box-shadow: 0 0 8px rgba(0,0,0,0.6);}

.topinfo 													{text-align: center; 
															 position:relative;
															 display:inline-block;
															top:1px;
															margin-left: 5px;   
															color: #b9991f; 
															font-size: 12px; background-color: #B9991F; 
															 border: 1px #ffffff solid; 
															 -moz-box-shadow: 0 0 4px #FFFFFF; box-shadow: 0 0 4px #FFFFFF;
															 border-radius: 8px 8px 8px 8px; padding: 0px;
															 color:#FFFFFF;
															 height:28px;
															 width:65px;
															 line-height:24px;
}
.topinfo span 												{font-size:24px; position: relative; top:-3px;font-weight:bold;}
.topinfo img 												{ width: 24px; height:24px;margin-top:2px;margin-right:0px;}

/*#idPanelProduct { height:220px !important;}*/
/*#payType { height:245px !important}*/

/*EASING*/
.botonProducto,
.botonCategoria,
.bloqueOpciones input.boton 								{  
	margin-bottom: 3px; 
	margin-left: 3px;
	-webkit-transition: all 0.2s ease-in; 
	-moz-transition: all 0.2s ease-in; 
	-o-transition: all 0.2s ease-in; 
	-ms-transition: all 0.2s ease-in; 
	transition: all 0.2s ease-in;}

.placeDiv {
background: #A8890E;
background: -moz-linear-gradient(#A8890E 0%, #FEEE8F 110%) repeat scroll 0 0 transparent;
background: -webkit-linear-gradient(#A8890E 0%, #FEEE8F 110%) repeat scroll 0 0 transparent;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8890E), color-stop(1, #FEEE8F));  
background: -o-linear-gradient(#A8890E 0%, #FEEE8F 110%) repeat scroll 0 0 transparent;
background: -ms-linear-gradient( #A8890E 0%, #FEEE8F 110%) repeat scroll 0 0 transparent;

border-radius: 20px 20px 20px 20px;
color: #FFFFEE;
float: left;
height: 100px;
margin: 2%;
padding-top: 10px;
width: 20%;
border: 3px solid #FFFFBB;
text-align: center;
cursor:pointer;
}

.placeDivFree {
background: #EE0000;
background: -moz-linear-gradient(#AA0000 0%, #EE0000 100%) repeat scroll 0 0 transparent;
background: -webkit-linear-gradient(#AA0000 0%, #EE0000 100%) repeat scroll 0 0 transparent;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AA0000), color-stop(1, #EE0000));  
background: -o-linear-gradient( #AA0000 0%, #EE0000 100%) repeat scroll 0 0 transparent;
background: -ms-linear-gradient(#AA0000 0%, #EE0000 100%) repeat scroll 0 0 transparent;
color: #FFEEEE;
border: 3px solid #FFBBBB;
}
#historyFacRight,
#historyRight{display:block;clear:both;}
#historyLeft,
#historyFacLeft {
	width:100%;
	clear:both;
/*float:left;width:29%;*/
/*
height:100%;margin-right:1%;display:block;overflow:auto; background:  repeat-x scroll 50% 50% #F6F6F6; border-radius: 10px 10px 10px 10px;
    border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 0 #FFFFFF inset;
    */}
#ticketRight{float:left;width:65%;display:block;}
#ticketLeft{float:left;width:32%;height:100%;margin-right:1%;display:block;overflow:auto; background:  repeat-x scroll 50% 50% #F6F6F6; border-radius: 10px 10px 10px 10px;
    border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 0 #FFFFFF inset; padding:0px;
    min-height: 200px;}
.leftBlock .options{padding:8px 8px 17px;}
.inputs {
	/*padding-top:10px;*/
}
.chk3d{
	margin:0 -10% 0 5%;
	
	color:#FFFFFF;
	
	background: #BBBBBB url(../img/bck_btn3d_big.png) top repeat-x;
	border-radius: 6px 6px 6px 6px;
		
	text-shadow: 1px 1px 2px #000000;
	text-align:center;
	font-weight:bold;

	cursor:pointer;
	font-size: 20px;
	box-shadow: 2px 2px 3px #333333;
	border-top:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-bottom:1px solid #888888;
	border-right:1px solid #888888;

	height:40px; 
	text-align:center;
}
.chk3d:hover{
	background: #CCCCCC url(../img/bck_btn3d_big.png) bottom repeat-x;
}
.btn3d {
	display:block;
	color:#FFFFFF;
	
	margin:0px  8px;

	margin-top:5px;
	background: #BBBBBB url(../img/bck_btn3d.png) top repeat-x;
	border-radius: 6px 6px 6px 6px;
	padding:2px;
	
	text-shadow: 1px 1px 2px #000000;
	text-align:center;
	font-weight:bold;

	cursor:pointer;
	font-size: 11px;
	box-shadow: 2px 2px 3px #333333;
	border-top:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-bottom:1px solid #888888;
	border-right:1px solid #888888;
	height:15px;
	line-height:15px;

	
}
a.btn3d:hover {
	background: #CCCCCC url(../img/bck_btn3d.png) bottom repeat-x;
}
.btn3dbig {
	display:block;
	color:#FFFFFF;
	
	margin:5px  2%;

	background: #BBBBBB url(../img/bck_btn3d_big.png) top repeat-x;
	border-radius: 6px 6px 6px 6px;
	padding:2px;
	
	text-shadow: 1px 1px 2px #000000;
	text-align:center;
	font-weight:bold;

	cursor:pointer;
	font-size: 20px;
	box-shadow: 2px 2px 3px #333333;
	border-top:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-bottom:1px solid #888888;
	border-right:1px solid #888888;
	line-height:40px;
/*---------------------*/	
	clear:both; height:46px; width:96% !important; text-align:center;
	
}
.btn3dbig:hover {
	background: #CCCCCC url(../img/bck_btn3d_big.png) bottom repeat-x;
}
